<div class = "row">
 <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h2>注文情報確認</h2>
  <table class = "table table-border">
    <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </thead>
    <tbody>
      <td>
        <%= @order_detail.
      
      </td>
    </tbody>
  </table>
 </div>
</div>  