<div class = "container">
  <div class = "row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>注文履歴一覧</h2>
      <table class = "table table-border">
        <thead class = "table table-light">
         <tr>
          <td>注文日</td>
          <td>配送先</td>
          <td>注文商品</td>
          <td>支払金額</td>
          <td>ステータス</td>
          <td>注文詳細</td>
         </tr>
        </thead>
        <tbody>
          <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
          </tr>
        </tbody>    
      </table>
    </div>
  </div>
</div>